

h3, p {
  font-family: 'Rubik Distressed', cursive;
  z-index: 2000;
  color: black;
}

/***************************************************************
****************************************************************
********** FIRST ANIMATION TEXT & IMG on SCROLL ****************
****************************************************************
****************************************************************/

body, html {
  font-family: 'Creepster', cursive; 
  width:100%;
  height:100%;
  background:rgb(7, 7, 7);
  font-size:59px;
  text-align:center;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0;
  padding: 0;
}

/*original el tag was "div", replace by "div .class name" */
.scrollDist, .main {
  position:absolute;
  text-align: center;
}

/********************************************************************
*********************************************************************
        SVG ANIMATION on SVG - SCROLL DOWN
*********************************************************************
*********************************************************************/
img {
  width: 200px;
}

#scene {
    
    height: 8000px;
/* 
    background-image: url("https://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/enneigee/montagne_enneigee.37464.jpg");
 */
  }

body {
  /* 
    background-image: url("https://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/enneigee/montagne_enneigee.37464.jpg");
 */
}
:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; 
  background-image: url("https://images.toucharger.com/img/graphiques/fonds_d_ecran/nature__paysages/enneigee/montagne_enneigee.37464.jpg");
*/
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/***** custom cursor ******/ 
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(244, 244, 10);
  z-index: 2000;
  border-color: black;
}

.follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(7, 248, 212, 0.531);
  opacity: 0.7;
  border-color: black;
  z-index: 200;
}

.your-cursor {
    position: absolute;
    background-color: deeppink;
    width: 20px;
    height: 20px;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    border-radius: 100%;
}

.ball {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid dodgerblue;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2000;
  box-shadow: 8px 8px 12px 
#aaa;
}
